
footer{
    background-color: rgb(45, 45, 45);
    }
    .flex-footer{
        padding: 5% 9%;
        color: rgb(231, 212, 212);
        display: flex;
        }
      .footer-left{
          width:55%;
          padding-top: 3%;  
          padding-right: 3%;   
          padding-bottom: 3%; 
          
      }
      address strong{
          color: white;
          font-weight: 800;
      }
      .footer-right{
        width:57%;
        padding:3%;
    }
    
    address{
        font-style:normal;
        font-family: 'Roboto';
        font-size:22px;
        line-height:37px;
    }
    address+div{
        margin-top:10%;
        font-family: 'Roboto';
        font-size:22px;
        line-height:20px;
        
    } 
    
    address+div p a{
        text-decoration:none;
        color:rgb(255, 4, 107);
    }
    
    .footer-right p{
        font-family: 'Montserrat Regular';
        font-size:22px;
        line-height:28px;
       
    }
    
    .form-footer{
        display: flex;
        margin-top: 4%;
    }
    .input-newsletter{
        flex-basis: 450px;
    }
    .input-newsletter label{
        display:none;
    }
    .input-newsletter input{
        width:100%;
        padding:4%;
        border-radius:0px;
        border:none;
        outline:none;
        font-size:20px;
    }
    .form-button{
        flex-basis: 140px;
        text-decoration:none;
        color:white;
        font-weight:800;
        font-size: 18px;
        font-family: 'Roboto';
        padding:15px;
        background-color:rgb(217, 41, 80);
        border-radius:0px 15px 15px 0px;
        transition:0.2s a;
        font-weight: 700;
        border:none;
    }
    .footer-right h5{
        font-size:18px;
        font-family: 'Montserrat Regular';
        position:relative;
        top:52%;
        color: white;
    }
    footer span{
        font-family: 'Roboto Bold';
        font-size: 22px;
    }
    .flex-icon{
        display:flex;
       margin-left:-2%;
       
        
    }
    .flex-icon div{
        padding:10px;
        
    }
    .flex-icon div a{
        color:rgb(255, 4, 107);
    
    }