
body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/robotos/Roboto-Regular.ttf);
}
@font-face{
    font-family: 'Roboto Bold';
    src: url(../fonts/robotos/Roboto-Bold.ttf);
}

@font-face{
    font-family: 'Ubuntu Mono';
    src: url(../fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf);
}

@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face{
    font-family: 'Montserrat Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Montserrat Regular';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
.banner-section{
background-image:url(../images/hero-background.jpg);
background-size:cover;
z-index:1;
margin-top:5.5%;

}
.banner-section,.div-center{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

.navbar-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between; 
    background-color:#D92950;
    z-index:2;
    position:fixed;
    top:0px;
    width: 100%;
}
.logo{
    width:7%;
    opacity:0.9;
    margin-left: 15px;
    padding:4px;
}
.navbar-container{
    padding:0.1%;
}
.navbar-nav{
    list-style:none;
    text-decoration:none;
}
.navbar-nav li a{
    text-decoration:none;
    color:white;
    font-size:17px;
    font-family: 'Roboto';
    line-height:24px;
    margin:0px 20px;   
    font-weight: 700;
}
.tabs-container{
    margin-top:1%;
    margin-right:10px;
}

.navbar-nav{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;

}
 .bottom-border{
    border-bottom: 2px solid #FB0469;
    padding-bottom:3px;
}
.div-center h1{
    font-family: 'Montserrat';
    font-size:84px;
    text-align: center; 
    text-transform:uppercase;
    width:60%;
    margin-top:7%;
    color:white;
}
.div-center h1 span{
    color:#ffe64d;
}
.banner-button{
    display:flex;
    flex-direction:row;
    width:80%;
    justify-content:center;  

}

.banner-button a{
  
    text-decoration:none;
    color:#dc4d51;
    font-weight:800;
    font-size: 20px;
    font-family: 'Roboto';
    padding:20px;
    background-color:white;
    border-radius:15px;
    margin:0px 10px;
    transition:0.2s a;
    font-weight: 700;
    margin:0px 10px;
    border: 2px solid white;
    
}
.banner-button a:hover{
    color:white;
    background: transparent;
    font-size: 20px;
  }
.banner-text{
    font-size:16px;
    font-family: 'Montserrat Regular';
    color:white;
    margin-top:3%;
    width:60%;
    text-align:center;
}
.technos-container{
    display:flex;
    flex-direction: row;
    margin-top:2%;
    padding-bottom:10px;
    margin-bottom:5%;
   
}

.technos-container div{
    margin-left:4.5%;
    opacity:0.4;
    margin-bottom:4.3%;
}
.technos-container div img{
   width:59%;
}

/* [debut]styles deuxieme bloc*/

.img-illustration-size{
    width:23%;
    display:block;
    margin:auto;
    padding-bottom: 8%;
}
.img-fluid-1{
    width:85%;
    border-radius:0px 10px 10px 0px;
    position:absolute;
}
.img-fluid-2{
    width:65%;
    border-radius:10px;
    position:absolute;
    top:200px;
    left:200px;
}
h4{
    font-family: 'Montserrat Bold';
    font-size:19px;   
    color:rgb(66, 67, 69);
    margin-top:7%;
    display:block;
}
.imgs-fluids+div>h1{
    color:rgb(66, 67, 69);
    font-size:40px;
    margin-top:-3%;
    width:100%;
font-family: 'Montserrat Bold';
}
.imgs-fluids{
    width:41%;
    position: relative;
}
.imgs-fluids+div{
    width:60%;
    padding:1%;
}

.section-2{
    display:flex;
    flex-direction:row;  
    padding:6% 0px; 
    background-color:rgb(241, 240, 243); 
}

.illustrations-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    padding: 5px;
    align-items: baseline;
}
.illustrations-container-2{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    align-items: baseline;
    margin-top:3%;
}
/* [fin]styles deuxieme bloc*/


/* styles du troisieme bloc*/

.section-partners{
    background-color:rgb(217, 41, 80);
    padding:8%;
}

.partners-container div{
margin-top:4%;
}
.partners-container div img{
    width:50%;
    display: block;
    margin:auto;
 }
 .partners-container{
     display:flex;
     flex-direction:row;
     align-items:center;
     justify-content: space-between;
     margin-top:2%;
 }
 .section-partners h1{
    color:white;
    text-align: center;
    font-size:40px;
    width:100%;
font-family: 'Montserrat Bold';
 }
 /* [fin] styles du troisieme bloc*/

/* styles du quatrieme bloc*/


.section-project-team{
    background-color:rgb(241, 240, 243);
    padding:2%;
}

.containers{
display:flex;
justify-content:center;
padding: 3%;
}
.section-project-team  h1{
    color:rgb(53, 31, 66);
    text-align: center;
    font-size:40px;
    width:100%;
font-family: 'Montserrat Bold';
}

.container-left{
    width:39%;
    background-color:white;
    padding: 3%;
    border-top:12px solid rgb(255, 230, 77);
    border-radius: 0px 0px 23px 23px;
    margin-right: 20px;
}

.container-right{
    width:42%;
    background-color:white;
    padding: 2%;
    border-top:12px solid rgb(217, 41, 80);
    border-radius: 0px 0px 23px 23px;
    
}


.container-left h3, .container-right h3{
    color:rgb(217, 41, 80);
    font-size:28px;
    font-family: 'Montserrat Bold';
    text-align: center; 
}
.container-left p, .container-right p{
  text-align: center; 
    font-family: 'Montserrat Regular';
    margin:4% 0px;
    color:rgb(53, 31, 66);
}


.container-left .button, .container-right .button{
   margin-top:10%;
  }

.container-left a, .container-right a{
  
    text-decoration:none;
    color:white;
    font-weight:800;
    font-size: 20px;
    font-family: 'Roboto';
    padding:20px;
    background-color:#dc4d51;
    border-radius:15px;
    margin:0px 10px;
    transition:0.2s a;
    font-weight: 700;
    margin:0px 10px;
    border: 2px solid #dc4d51;
    
}

.container-left a:hover, .container-right a:hover{
    color: #dc4d51;
    background: transparent;
    font-size: 20px;
  }


.pret-container{
    background-color:rgb(174, 55, 83);
    padding:6%;
}

.pret-container h1{
    color:white;
    text-align: center;
    font-size:40px;
    width:100%;
font-family: 'Montserrat Bold';
}
.container-illustration{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: baseline;
   
}
.color-white{
    color:white;
}
.pret-container p>a{
display: block;
margin: 5% auto auto auto;
border:1px solid white;
text-decoration:none;
color:white;
font-weight:800;
font-size: 20px;
font-family: 'Roboto Bold';
padding:20px;
background-color:rgb(217, 41, 80);
border-radius:15px;
width:18%;
transition:0.2s a;
font-weight: 700;
border: 2px solid rgb(217, 41, 80);
text-align: center;
}

.pret-container p>a:hover{

    color:white;
    background-color:transparent;
    border: 2px solid white;
    transition:0.2s a;
    }


.border-img{   
   display:flex;
   flex-direction: row;
   align-items: center;
   
}
.img-ill{
    border: 1px solid white;
    padding:15px;
    border-radius:15px;
    margin: auto;
    width:45%;
}
.img-user-group{
    
    border: 1px solid white;
    padding:16px;
    border-radius:15px;
    width:35%;
}

.top-2{
   margin-top: 13%;
}
.arrow{
    width:40px;
    margin-left:30%;
}

.d-none{
    display:none;
}
.container-illustration div h4{
    font-family: 'Ubuntu Mono';
    font-size:20px;
}
.container-img-ill{
    margin-left:20%;
    padding:2%;
  }



  .section-medias{
    background-color:rgb(17, 17, 17);
    padding:6%;
}

.media-container div{
margin-top:2%;

}
.media-container div img{
    width:100%;
    display: block;
    margin:auto;  
 }
 .media-container{
     display:flex;
     flex-direction:row;
     align-items:center;
     justify-content: space-between;
     width:50%;
     margin:auto;
    
 }
 .section-medias h1{
    color:white;
    text-align: center;
    font-size:40px;
    width:100%;
font-family: 'Montserrat Bold';
 }



 .section-sustain{
padding: 75px;
 }

 .container-gl{
     width:90%;
     margin: auto;
 }

 .container-sustain{
    display:flex;
 }

 .container-sustain div{
   width:30%;
   margin:10px;
   padding:10px;
 }


 .section-sustain  h1{
    color:#424345;
    text-align: center;
    font-size:40px;
    width:100%;
font-family: 'Montserrat Bold';
line-height:48px;
}

 .img-sustain{
     border-radius: 15px;
     width:100%;
 }
 .img-sustain+p{
     font-size:16px;
     font-family: 'Montserrat Regular';
     line-height:24px;
 }
 .img-sustain+p>span{
  
    font-family: 'Montserrat Bold';
    color:#424345;
   
}

.container-tweet{
display:flex
}
.container-tweet{
  
}