
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/robotos/Roboto-Regular.ttf);
}
.navbar-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between; 
    background-color:#db4d51;
}
.logo{
    width:6.5%;
    opacity:0.8;
    margin-left: 15px;
    padding:4px;
}
.navbar-container{
    padding:0.1%;
}
.navbar-nav{
    list-style:none;
    text-decoration:none;
}
.navbar-nav li a{
    text-decoration:none;
    color:white;
    font-size:17px;
    font-family: 'Roboto';
    line-height:24px;
    margin:0px 20px;   
    font-weight: 700;
}
.tabs-container{
    margin-top:1.8%;
    margin-right:10px;
}

.navbar-nav{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;

}
h1{
    
}