
body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --backgroundColor:rgb(241, 240, 243);
    --padding:2%;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/robotos/Roboto-Regular.ttf);
}

@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face{
    font-family: 'Montserrat Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Montserrat Regular';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

.navbar-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between; 
    background-color:#D92950;
    position:fixed;
    top:0;
    z-index:2;
}
.logo{
    width:7.1%;
    opacity:0.9;
    margin-left: 15px;

}
.navbar-container{
    padding:0.2%;
}

.navbar-nav{
    list-style:none;
    text-decoration:none;
}
.navbar-nav li a{
    text-decoration:none;
    color:white;
    font-size:16px;
    font-family: 'Roboto';
    margin:0px 30px;   
    font-weight: 600;
}
.tabs-container{
    margin-top:1%;
    margin-right:10px;
}
.navbar-nav{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;

}
 .bottom-border{
    border-bottom: 2px solid #FB0469;
    padding-bottom:3px;
}

h1{
    text-align: center;
    font-size:40px;
    font-family: 'Montserrat Bold';
    color: #111111;
    padding: 0px 15%;

}

.flex-container{
    display:flex;
    justify-content:center;
    padding: 4% 6%;
}

.container-info{
    z-index:1;
    margin-top:8em;
}

.container-left,.container-right {
width:39%;
padding: 0px var(--padding) var(--padding) var(--padding) ;
background-color:var(--backgroundColor);
border-radius:20px;
margin:1%;
}


.container-left h2,.container-right h2{
    font-size:48px;
    font-family: 'Montserrat Bold';
    color: #111111;
    line-height:57.5px;
}
.container-left h3,.container-right h3{
    font-size:28px;
    font-family: 'Montserrat Bold';
    color: #111111;
    line-height:38.5px;
}

.container-left p,.container-left ul,.container-right p,.container-right ul{
    font-size:16px;
    font-family: 'Montserrat Regular';
    color: #424345;
    line-height:24.5px;
}


.container-left p>a{
    color: rgb(217, 41, 80);
    text-decoration:none;
    font-family: 'Montserrat Bold';
}

  .button-subscribe,.container-left div{
    margin-top:5%;
  }
  .container-left div>a, .container-right div>a{
    text-decoration:none;
    font-family: 'Montserrat Bold';
    padding:3%;
    background-color:#dc4d51;
    color:white;
    border-radius:10px;
    font-size:20px;
    display:block;
    text-align: center;
    border: 2px solid #dc4d51;
    margin:auto;
   
  }

  .container-left div>a:hover, .container-right div>a:hover{
    color: black;
    background: transparent;
    font-size: 20px;
  }


